{% extends "layout.html" %}

{% block title %}
Chai aur tweet
{% endblock %}

{% block content %}

<h1 class="text-center mt-4">Welcome to chai aur django project</h1>

<a class="btn btn-primary custom-btn mb-3" href="{% url 'tweet_create' %}">Create a tweet</a>

<div class="container row gap-5">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{ tweet.photo.url }}" class="card-img-top img-fluid custom-img" alt="Tweet Image">
        <div class="card-body">
            <h5 class="card-title">{{tweet.user.username}}</h5>
            <p class="card-text">{{tweet.text}}</p>
            {% if tweet.user == user %}
                <div class="d-flex flex-wrap gap-2">
                    <a href="{% url 'tweet_edit' tweet.id %}" 
                    class="btn btn-primary flex-grow-1 flex-md-auto d-flex align-items-center justify-content-center btn-hover">
                        <i class="bi bi-pencil-square me-2"></i> Edit
                    </a>
                    <a href="{% url 'tweet_delete' tweet.id %}" 
                     class="btn btn-danger flex-grow-1 flex-md-auto d-flex align-items-center justify-content-center btn-hover">
                        <i class="bi bi-trash me-2"></i> Delete
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}